stages:
  - build_frontend
  - build_backend
  - deploy

# build_frontend:
#   stage: build_frontend
#   image: node:18
#   before_script:
#     - apt-get update && apt-get install -y nodejs   
#   script:
#     - cd Flexion-frontend/ 
#     - npm -v
#     - npm install
#     - npm run build 
#   artifacts:
#     paths:
#       - $FRONTEND_BUILD_DIR

build_backend:
  stage: build_backend
  image: maven:3-jdk-11
  # before_script:
  #   - apt-get update && apt-get install -y maven
  script:
    - cd Flexion-backend/ 
    - mvn -v
    - mvn clean package 
  artifacts:
    paths:
      - Flexion-backend/target/assessment-0.0.1-SNAPSHOT.jar

deploy:
  stage: deploy
  image: python:3 
  script:
    - pip3 install awscli
    - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
    - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
    - aws configure set default.region $AWS_REGION
    - aws ec2 wait instance-status-ok --instance-ids $AWS_INSTANCE_ID
    - echo $FLEXION_SSH_KEY > key.pem
    - scp -i key.pem $FRONTEND_BUILD_DIR/* ec2-user@$AWS_INSTANCE_IP:/var/www/html 
    - scp -i key.pem Flexion-backend/target/*.jar ec2-user@$AWS_INSTANCE_IP:/home/ec2-user 
    - ssh -i key.pem ec2-user@$AWS_INSTANCE_IP "sudo systemctl stop your-backend-service" 
    - ssh -i key.pem ec2-user@$AWS_INSTANCE_IP "nohup java -jar /home/ec2-user/assessment-0.0.1-SNAPSHOT.jar > /dev/null 2>&1 &" 
