stages:
  - build_frontend
  - build_backend
  - deploy

build_frontend:
  stage: build_frontend
  image: node:18 
  script:
    - cd Flexion-frontend/ 
    - npm install
    - npm run build 
  artifacts:
    paths:
      - Flexion-frontend/build

build_backend:
  stage: build_backend
  image: maven:3-jdk-11
  script:
    - cd Flexion-backend/ 
    - mvn -v
    - mvn clean package 
  artifacts:
    paths:
      - Flexion-backend/target

deploy:
  stage: deploy
  image: ubuntu:20.04
  before_script:
    - apt-get update && apt-get install openssh-client -y
  script:
    - cat $FLEXION_SSH_KEY > flexion-key-pair.pem
    - cat flexion-key-pair.pem
    - ls
    - chmod 400 flexion-key-pair.pem
    - scp -o 'StrictHostKeyChecking no' -i flexion-key-pair.pem -pr ./Flexion-frontend ec2-user@$AWS_INSTANCE_IP:/home/ec2-user/frontend
    - scp -o 'StrictHostKeyChecking no' -i flexion-key-pair.pem ./Flexion-backend/target/assessment-0.0.1-SNAPSHOT.jar ec2-user@$AWS_INSTANCE_IP:/home/ec2-user/backend 
    - ssh -o 'StrictHostKeyChecking no' -i flexion-key-pair.pem "cd ~ && chmod +x deploy.sh && ./deploy.sh"
    # - ssh -i flexion-key-pair.pem ec2-user@$AWS_INSTANCE_IP "nohup java -jar /home/ec2-user/Flexion-backend/assessment-0.0.1-SNAPSHOT.jar > /dev/null 2>&1 &"
    # - ssh -i flexion-key-pair.pem ec2-user@$AWS_INSTANCE_IP "cd Flexion-frontend && npm install -g serve && serve -s build"
